<h1>Main Menu</h1>
<ul>
    <li><a href="/Game/CreateNew">Create New Game</a></li>
    <li><a href="/Game/OpenSavedGames">Open Saved Games</a></li>
    <li><a href="/Home/Settings">Settings</a></li>
    <li><a href="/Home/Exit">Exit</a></li>
</ul>

